@tailwind components;

@layer components {
	.header-container {
		@apply bg-card border-b;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 2.25rem;
	}
	.navbar {
		@apply container font-medium font-inter;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0;
	}

	.navbar-heading {
		@apply text-primary/80 font-victor-mono italic;
	}
}
