@tailwind components;
:root {
  --header-zIndex: 99999;
}
@layer components {
  .header-container {
    @apply bg-card border-b;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.25rem;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: var(--header-zIndex);
  }
  .navbar {
    @apply container font-medium font-inter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2.75rem;
  }

  .navbar-heading {
    @apply text-primary/80 text-sm;
  }
  .navbar-dropdown {
    @apply border rounded-full text-sm hover:bg-accent;
    padding: 0.25rem 0.75rem;
  }
  .dropdown-item {
    text-transform: capitalize;
  }
}
