@tailwind components;

:root {
	--box-size: 50px;
}
@layer components {
	.default-view {
		@apply bg-foreground text-primary-foreground;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		min-height: 100svh;
		display: flex;
		align-items: center;
		justify-self: center;
		flex-wrap: wrap;
	}

	.view--box {
		height: var(--box-size);
		width: var(--box-size);
		background-color: transparent;
		position: relative;
		mix-blend-mode: difference;
	}
	.default--view-content {
		@apply font-inter font-bold text-5xl;
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		display: flex;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		flex-direction: column;
	}
	.default--view-content h1 {
		text-align: center;
	}
	.default--view-content p {
		@apply font-victor-mono text-sm;
	}
}
