@tailwind components;

@layer components {
	.views {
		position: relative;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.container--outer {
		position: relative;
		height: 100vh;
		width: 100%;
	}
	.container--inner {
		clip-path: inset(0%);
		margin: unset;
		height: 100svh;
		max-width: unset;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0%);
		z-index: var(--container-zIndex);
		background-color: var(--container-background);
	}
	.container--inner .container--image {
		position: relative;
		top: 50%;
		left: 50%;
		/* filter: brightness(0%); */
		transform: translate(-50%, -50%);
		width: var(--background-image-size);
		height: var(--background-image-size);
		background-image: var(--background-image);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
	}
}
