@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: linear-gradient(
			rgba(255, 255, 255, 0.05) 2px,
			transparent 2px
		),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 2px, transparent 2px),
		linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
	--background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	--background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

	--gradient-texture: url("https://assets.codepen.io/16327/noise-e82662fe.png");
	--gradient-blue: radial-gradient(78.77% 78.77% at 71.71% 30.77%, #f0fcff 0%, #9bedff 67.21%, #98ecff 76.04%, #5be1ff 84.9%, #00bae2 94.79%);
}
